.course-container {
  display: flex;
  flex-flow: column nowrap;
  height: 90%;
  overflow: auto;
}
.courses-all-list {
  height: 200px;
  width: 800px;
  background-color: lightyellow;
}
.course-detail-sel {
    display: flex;
    flex-flow: row wrap;
    width: 75%;
}
.course-detail-and-stats {
  height: 55%;
  display: flex;
  flex-flow: row wrap;
}

#course-detail-list-tbl td {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#course-detail-list-tbl td:hover {
  background-color: #8797ef;
}

.course-detail-list-wrap {
  width: 75%;
  height: 100%;
}

.detail-roster-list-wrap {
  height: 100%;
  width: 450px;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #99ccff;
}
.course-detail-roster {
  margin-top: 10px;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  height: 45;
  min-height: 300px;
  width: 100%;
}

.formation-group-view {
  height: 100%;
  width: 350px;
  border: 1px solid #99ccff;
}
.roster-stats{
  height: 100%;
  width: 175px;
  margin-left: 5px;
  border: 1px solid #99ccff;
}
.course-detail-stats {
  width: 25%;
}

.samp1o1 {
  overflow-x: auto;
  max-width: 150px;
}
.stat-section {
  border: 1px solid lightgrey;
  padding-left: 2px;
}

.course-conduct {
  display: flex;
  flex-flow: row wrap;
  height: 60%;
}
.course-week-edit {
  background-color: white;
  box-shadow: 4px 4px 4px 4px #444444;
  border: 2px solid grey;
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  overflow: auto;
  height: 650px;
  width: 750px;
  padding: 0 0 0 0;
  z-index: 1200;
}
.course-edit-wrapper1 {
  display: flex;
  flex-flow: row wrap;
  margin-left: 3px;
}
.course-edit-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  margin-top: 10px;
  margin-left: 3px;
}

/* .course-edit-tbl-wrap {
  font-size: 12px;
} */

.smaller-font {
  font-size: 0.8em;
}

.course-item-entry {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 20px;
}
.course-edit-attendance {
  width: 440px;
  overflow: auto;
}

.course-attendee {
  display: flex;
  flex-flow: column;
  height: 90%;
  overflow: hidden;
}

.bio-personal {
  overflow: auto;
}

.bio-container {
  display: flex;
  flex-flow: column;
  margin-top: 0px;
  padding-top: 0px;
}
.bio-display-control {
  height: 20px;
  font-size: 0.9em;
  color: #777777;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  margin: 5px 3px 0px 0px;
  width: 100%;
  padding: 2px 0px 2px 3px;
}

.bio-1on1 {
  width: 50%;
  margin: 5px 5px 5px 5px;
}

#bio-1on1-table {
  border: 1px solid #999999;
	border-collapse: collapse;
}

#bio-1on1-table th {
	border: 1px solid #999999;
	min-width: 80px;
}
#bio-1on1-table td {
  border: 1px solid #999999;
}

.bio-vias {
  width: 50%;
  margin: 5px 5px 5px 5px;
}

#bio-vias-table {
  border: 1px solid #999999;
	border-collapse: collapse;
}

#bio-vias-table th {
	border: 1px solid #999999;
	min-width: 80px;
}
#bio-vias-table td {
  border: 1px solid #999999;
}

#bio-attend-heading {
  border: 1px solid #999999;
	border-collapse: collapse;
}

#bio-attend-heading th {
	border: 1px solid #999999;
	min-width: 80px;
}

.bio-attend-rows-wrap {
  margin-bottom: 5px;
  overflow: hidden;
  overflow-y: scroll;
  height: 80px;
  max-width: 80%
}

#bio-attend-body {
  border: 1px solid #999999;
  border-collapse: collapse;
}

#bio-attend-body td {
  border: 1px solid #999999;
}

/* #btn-back2course {
  background-color: #ffffff;
  color: #6666ff;
  max-width: 80px;
  border-radius: 6px;
} */
.bio-btn-nav {
  background-color: #ffffff;
  color: #6666ff;
  max-width: 80px;
  border-radius: 6px;
  padding: 0px 5px 0px 5px;
  margin: 0;
  min-width: 140px;
}

.formation-group-mgmt {
  display: flex;
  flex-flow: row wrap;
  height: 50%;
  width: 50%;
  max-width: 350px;
  max-height: 450px;
}
.fg-tbl-sect {
  width: 48%;
  height: 80%
}
.fg-new-data {
  width: 48%;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
}

/* do not want editing tables to have the alternating colors */

#week-edit-table.dataTable tbody tr {
  background-color: white;
}
#course-week-edit-attend.dataTable tbody tr {
  background-color: white;
}


/* for course detail datatables */
.gridcell {
  /* for the text content of the table grid showing units */
  border: 1px solid lightgrey;
  height: 100px;
  margin: 0 0 0 0;
  overflow: auto;
  padding: 1px 1px 1px 1px;
}
.biogridcell {
  /* for the text content of the table grid showing units */
  border: 1px solid lightgrey;
  height: 80px;
  margin: 0 0 0 0;
  overflow: auto;
  padding: 1px 1px 1px 1px;
}

.gridtext {
  font-size: 10px;
  margin: 0 0 0 0;
  /* overflow: hidden; */
  /* width: 300px; */
}

.tbl-col-2090 {
  width: 200px;
}

.row-selected {
  /* note the use of !important - bg is way 'down' inside datatables styling, so really need to do this here */
  background-color: #4545ff !important;
  color: white;
}

.font0-8 {
  font-size: 0.8em;
}
