@import url('frame.css');
@import url('courses.css');
@import url('curriculum.css');
/* import frame.css - the temporary stuff there will eventually be moved */


/* Generally used defaults */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial;
  font-size: 14px;
  color: #424242;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

img, embed, object, video {
  max-width: 100%;
}

nav a, button {
  /* research says 48 x 48 is min, but they looked too big */
  min-height: 36px;
  min-width: 36px;
}

.label-line {
  /* mainly to override <p> spacing */
  margin: 0 0 0 0;
}

.gen-notes {
  /* mainly for textarea data entry */
  font-family: Calibri;
	height: 175px;
	width: 220px;
}

.scroller {
  overflow: auto;
}
.ew-but:hover {
  /* this box-shadow had multiple shadows defined, kinda cool
  /* 	box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.24),14px 14px 14px 14px rgba(0,0,0,0.19); */
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.50)
  }
  

.btn-pops {
	background-color: #bbccbb;
	border-radius: 8px;
	color: #000088;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 12px 3px 12px;
}

.btn-pops:hover {
/* this box-shadow had multiple shadows defined, kinda cool */
	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.50)
}

.btn-standard {
	background-color: blue;
	border-radius: 8px;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 12px 3px 12px;
}

.btn-standard:hover {
/* this box-shadow had multiple shadows defined, kinda cool */
	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.50)
}

.btn-small {
	background-color: blue;
	border-radius: 8px;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px 4px 0px 4px;
	min-width: 10px;
	min-height: 10px;
}
.btn-small:hover {
	/* this box-shadow had multiple shadows defined, kinda cool */
		box-shadow: 2px 4px 2px 1px rgba(0,0,0,0.50)
	}


.btn-min {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  min-height: 20px;
  min-width: 20px;
}

h2 {
	margin: 7px 4px 7px 4px;
}

#whole-page {
  width: 100%;
  height: 100%;
}

#main-heading {
	background-color: #fff;
	display: flex;
	flex-flow: row wrap;
	font-size: 16px;
	padding: 0;
  width: 100%;
  height: 10%;
}
#mainlogo {
	margin-top: auto;
	margin-bottom: auto;
	height: 25px;
}


.l-sidebar {
  display: flex;
  flex-flow: column nowrap;
  width: 9%;
	padding: 0px 2px 2px 1px;
	min-height: 400px;
  height: 100px;
  max-width: 200px;
	border: 1px solid grey;
	justify-content: space-between;
}
.left-menu {
  width: 99%;
  margin: auto;
  background-color: #51657d;
  color: lightgrey;
}
.l-sidebar button.active {
  background-color: #6bbdb9;
  color: white;
}

.link-area {
	border: 1px solid lightgrey;
	font-size: 0.9em;

}

#maindiv {
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-flow: row wrap;
}
.mainzone-sel {
  padding-left: 3px;
}
.academy-mgmt-sect {
	width: 100%;
	border: 1px solid grey;
}


#courses-disp {
  /* background-color: #77f; */
  min-width: 400px;
  min-height: 400px;
}
.surveys-disp {
  /* background-color: #6aa; */
  min-width: 400px;
  min-height: 400px;
}
.misc-disp {
  /* background-color: #68f; */
  min-width: 400px;
  min-height: 300px;
  width: 100%;
  /* height: 100% */
}

#allcontent {
  display: flex;
  flex-direction: row wrap;
  width: 99%;
  max-width: 99%;
  min-height: 89%;
  margin: auto;
}

/* #user-list-tbl {
	width: 100%;
	overflow-x: scroll;
} */

#am-topmenu {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #555;
  width: 100%;
  flex-grow: 1;
  flex-basis: 100%;
}

#am-topmenu button {
  background-color: #555;
  border: none;
  color: #ccc;
  cursor: pointer;
  padding: 0px 20px 0px 20px;
  transition: 0.2s;
  max-height: 50px;
  font-size: 1.1em;
}

#am-topmenu button.active {
  background-color: #fff;
  color: #00f;
  font-weight: bold;
}

.submenu {
  background-color: #45699f;
  border: 1px solid #45699f;
  border-radius: 3px;
  color: #aaa;
  cursor: pointer;
  padding: 0px 20px 0px 20px;
  transition: 0.1s;
  max-height: 50px;
  font-size: 1.1em;
  margin: 5px 0px 5px 0px;
}

.submenu.active {
  background-color: #d5e9ff;
  color: #00f;
  /* font-weight: bold; */
}

.tablinks {
  /* this class is mainly for ease of selection, e.g. to set visibility */
  margin: 3px 0px 0px 2px;
}
.content-sect {
  /* this class is mainly for ease of selection, e.g. to set visibility */
  margin: 0;
}

.maincontent {
/* border: 1px solid #0000ff; */
/*	height: 600px; */
	margin-top: 165px;
	padding-left: 5px;
	width: 98%;
	position: fixed;
	overflow: auto;
}

.tight {
	margin-bottom: 0px
}
.infotbl {
	border-collapse: collapse;
}
.infotbl th {
	padding: 1px 4px 1px 3px;
	border: 1px solid orange;
	width: 100px;
}
.infotbl td {
	border: 1px solid orange;
	text-align: center;
}

#dash-overall-title {
	width: 100%;
}

.dash-inner-content {
	margin: 20px 20px 20px 20px;
}
.dashboard-sect {
  border: 1px solid grey;
	display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 10px;
}

.dashb-part {
  min-width: 45%;
  min-height: 40%;
  border: 2px solid lightblue;
}

/* #chart_attendance {
  height: 70%;
  width: 80%;
}
#chart_progress {
  height: 70%;
  width: 80%;
} */

#courses-all-list {
  display: flex;
  flex-flow: row wrap;  
}

.reports-sect {
	width: 100%;
	height: 100%;
	border: 1px solid grey;
}

.modal-close-x {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal-dialog {
	background-color: #ffffff;
	border: 2px solid #004000;
	border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(212,212,212,0.2),0 6px 20px 0 rgba(192,192,192,0.4);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* height: 400px;  going to set this via javascript */
	position: fixed;
	width: 400px;
	z-index: 1000;
}
#modal-head {
	background-color: #bbffbb;
	border-bottom: 1px solid #004000;
	padding: 3px 5px 3px 5px;
}

#modal-body {
	margin: 5px 20px 5px 20px;
}

#modal-foot {
	display: flex;
	flex-direction: row-reverse;
	margin: 5px 10px 10px 10px;
}

#modal-overlay {
	/* this class is to put an overlay on the entire page so that only the modal dialog can be touched */
	/* note the rgba to make the background transparent (last parameter) */
	background-color: rgba(64,64,64,.75);
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

#modal-overlay2 {
	/* this class is to put an overlay on the entire page so that only the modal dialog can be touched */
	/* this is shown at a higher z-order than other the regular overlay - the reason is needs for 
	divs that are pop-ups on top of pop-ups, etc */
	background-color: rgba(64,64,64,.75);
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1100;
}

.modal-movable {
	background-color: #ffeebb;
	cursor: default;
	height: 100px;
	width: 100px;
	position: absolute;
	user-select: none;
}

.num-input {
	width: 60px;
}

.parmlbl {
    color:#00f;
}

.parmlbl-lspace {
    color: #00f;
/* 	padding-left: 10px; */
}

.parmbutton {
	background-color: #db2;
	border: none;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	margin-top: 5px;
	padding: 4px 6px 4px 6px;
	text-align: center;
	text-decoration: none;
}

.parmbutton:hover {
/* this box-shadow had multiple shadows defined, kinda cool */
	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.50)
}


.flex-div {
	display: flex;
	flex-flow: row wrap;
}
.flex-div-c {
	display: flex;
	flex-flow: column wrap;
}

.parmsection {
	width: 100%;
}

#pop-mov1 {
	background-color: #ffffff;
	border: 1px solid #000000;
    box-shadow: 0 4px 8px 0 rgba(0,0,255,0.5),0 6px 20px 0 rgba(0,0,0,0.19);
	height: 300px;
	position: absolute;
	top: 200px;
	left: 50px;
	user-select: none;
	width: 500px;
	z-index: 999;
}

#pop-mov1-close1 {
	cursor: default;
	float: right;
	font-size: 24px;
	margin: -5px 0px 0px 0px;
	vertical-align: top;
}

#pop-head {
	cursor: move;
	background-color: #aaaaff;
/* 	border: 1px solid #000000; */
	border-bottom: 1px solid #000000;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	user-select: none;
	z-index: 1000;
}

#pop-content {
	height: 275px;
	overflow-wrap: break-word;
	overflow-y: scroll;
	padding: 0px 5px 0px 5px;
	z-index: 1000;
}

#pop-msg {
	background-color: #44cc44;
	border: 1px solid #000000;
	box-shadow: 4px 4px 4px 4px rgba(212,212,212,.5);
	font-size: 10px;
	font-style: italic;
	position: fixed;
	text-align: center;
	top: 167px;
	left: 10px;
	width: 77px;
	z-index:1000;
}

.srch-entry {
	padding-left: 20px;
}

#srch-stew {
	text-transform: uppercase;
}

.login-overlay {
	background-color: #cccccc;
	left: 0;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;

}
.login-content {
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	box-shadow: 4px 4px 4px 4px #777777;
	width: 300px;
	height: 330px;
	margin-top: 77px;
	margin-left: auto;
	margin-right: auto;
	
}
.login-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
.login-entries {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 90%;
  padding: 20px 0px 20px 0px;
}
.btn-login {
	padding: 10px 25px 10px 25px;
	margin-left: auto;
	margin-right: auto;
}

/* specific edit windows */
.user-edit {
  background-color: #dddddd;
	border: 1px solid grey;
	font-size: 12px;
	margin: auto auto auto auto;
	position: fixed;
	width: 400px;
	height: 350px;
	z-index: 1500;
}

.bio-total {
	background-color: white;
	overflow: auto;
	position: fixed;
	width: 90%;
	height: 90%;
	z-index: 1500;
}

/* This section is CSS for editing window contents */
.div-title {
	font-size: 1.3em;
  width: 100%;
  max-height: 30px;
	margin: 1px 0px 3px 0px;
	padding: 3px 0px 0px 2px;
	text-align: left;
	background-color: blue;
	color: white;
}

.popup-edit {
	display: flex;
	flex-flow: row wrap;
	margin: auto auto auto auto;
	position: absolute;
}

.edit-group {
	display: flex;
	flex-flow: column wrap;
	margin-left: 10px;
	/* margin: 0px 0px 0px 7px; */
	padding: 0;

}
.popup-footer {
  width: 100%;
  margin-bottom: 0;
  padding-top: 20px;
}
.inp-xsm {
	width: 50px;
}
.inp-sm {
	width: 80px;
}
.inp-med {
	width: 160px;
}
.inp-lrg {
	width: 220px;
}
.inp-xlrg {
	width: 320px;
}

input[type=text], [type=email], [type=tel] {
  font-size: 14px;
}
select {
  font-size: 14px;
}


.edit-btn {
	border-radius: 8px;
	cursor: pointer;
	font-family: Arial;
	font-size: 14px;
	/* font-weight: bold; */
  /* height: 20px; */
  margin: auto 7px 0px 5px;
  padding: 1px 4px 1px 4px;
	text-align: center;
	transition-duration: 0.2s;
	width: 100px;
}
.edit-btn:hover {
/* this box-shadow had multiple shadows defined, kinda cool */
	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.50)
}

.edit-btn-sm {
  border-radius: 8px;
	cursor: pointer;
	font-family: Arial;
	font-size: 11px;
	/* font-weight: bold; */
  /* height: 20px; */
  margin: auto;
  padding: 1px 1px 1px 1px;
  text-align: center;
  height: 20px;
	transition-duration: 0.2s;
	width: 50px;
}

.edit-btn-sm:hover {
  /* this box-shadow had multiple shadows defined, kinda cool */
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.50)
}

.tighttext {
	margin: 2px 2px 2px 0px;
	color: #666666;
}

.div-api {
	border: 1px solid #0000ff;
	color: #003399;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
/*	height: 500px; */
	overflow: auto;
	width: 95%;
	word-wrap: break-word;
}

.padrt {
	margin-right: 15px;
}

/* some simple classes, mainly for colorizing in a standard way */

.clr-yes {
	background-color: #22bb22;
	color: white;
}

.clr-no {
	background-color: #aaaa22;
	color: white;
}

.clr-warn {
	background-color: #ff0000;
	color: white;
}

.txt-red {
  color: red;
  text-decoration: underline;
}

/* override jquery datatables center align of headers */

#srch-tbl-rslt thead th {
	text-align: left;
	font-size: 12px; 
}
#srch-tbl-rslt td {
	font-size: 12px;
}
#user-list-wrap {
  width: 80%;
  margin-left: 0;
  overflow: auto;
}

.course-list-wrap {
  margin-left: 0px;
	margin-right: 20px;
  height: 20%;
  overflow: auto;
}

#course-status-info {
	padding: 2px 5px 2px 5px;
	border: 1px solid grey;
}
#roster-list-wrap {
	padding-left: 5px;
	border: 1px solid grey;
}

table.dataTable tbody tr:nth-child(odd) {
    background-color: #d1e5fd;
}

th {
	background-color: #51657d;
	color: white;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	padding: 1 1 1 1;
}

.q-cent {
	text-align: center;
}

/* put this last so that it will always override other div settings */
.tempcontainer {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid lightblue;
}

.pop-win-title-line {
	background-image: linear-gradient(to right, blue,rgb(100,100,255),lightblue);
	background-color: blue;
	color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 1.3em;
  position: fixed;
  width: 90%;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 2px 0px;
}
.row-group {
	display: flex;
	flex-flow: row wrap;
	padding: 5px 10px 0px 10px;
}
.row-group-label {
	font-weight: bold;
	padding: 5px 0px 0px 5px;
}
.col-group {
	display: flex;
	flex-flow: column nowrap;
	padding: 5px 10px 5px 10px;
	justify-content: left;
}
.row-group-tight {
	display: flex;
	flex-flow: row wrap;
}
.space-right {
  /* a general class to pop in to give a right margin */
  margin-right: 5px;
}
.space-left {
	/* a general class to pop in to give a left margin */
	margin-left: 5px;
}
.space-down {
	margin-bottom: 5px;
}

.hidediv {
	display: none;
}

.hidevar {
	display: none;
}

.testspace{
	/* use this to temporarily play around with spacing to check layouts, etc */
	min-height: 500px;
}

.hidediv {
  display: none;
}

.hidevar {
	display: none;
}
